extends index

block title
	title= post.date.format('%x') + "日记"

block content
	article
		header.title
			h1= post.date.format('%x')
		.content= post.content
		.info
			span 归档于
			a(href=post.category.url)= post.category.title

	.pager
		if posts.pre_one
			a.pre(href=posts.previous_one.url) ‹
		if posts.next_one
			a.next(href=posts.next_one.url) ›