extends index

block title
	title= '归档 • ' + site.title

block main
	#archive
		#title
			.small= 'Archive'
			h1= '归档'

		#archlist
			span.total-count= '共写了%s篇文章，' %(d.get_data(types='post', return_count=true, with_page=false)) + '总计%s字。' %('{0:,}'.format(site.text_words))
			entries = d.get_data(types='post', limit=8, sort='desc').group('-date:year')
			for year, year_posts in entries
				year_start_date = '%s-1-1' %year
				year_end_date = '%s-1-1' %(year.int+1)
				yearly_count = d.get_data(types='post', return_count=true, date_start=year_start_date, date_end=year_end_date)
				h2= year + '年'
					span.count= '%s' %yearly_count
				for post in year_posts
					a.list(href=post.url)
						time(datetime= post.date.format('%Y-%m-%d'))= post.date.format('%b %d')
						span= post.title

			#pager
				+h.paginator(style='auto', max_count='8')