extends index

block title
	if request.path.startswith('/category/') and posts.category
		title= '分类：' + posts.category.title + ' • ' + site.title
	elif request.path.startswith('/tag/') and posts.tags
		title= '标签：' + posts.tags.join('+') + ' • ' + site.title
	elif request.args.s
		title= '搜索：' + request.args.s + ' • ' + site.title
	else
		title= '文章 • ' + site.title

block main
	if request.path.startswith('/category/') and posts.category
		.label= '分类：' + posts.category.title
	elif request.path.startswith('/tag/') and posts.tags
		.label= '标签：' + posts.tags.join('+')
	elif request.args.s
		.label= '搜索关键字：' + request.args.s

	+posts.set_min_per_page(10)
	+page(as_ul=False)
		for post in posts
			a.block(href=post.url)
				time(datetime= post.date.format('%Y-%m-%d'))= post.date.format('%Y.%m.%d')
				h2= post.title
				if post.cover
					.thumbnail(style='background-image:url({{post.cover}})')
				.content= post.content.limit(words=120).no_pic.plain