extends index

block title
	title= '归档 - ' + site.title

block content
	#postlist
		if posts.categories
			#catlist
				header: h2 按分类
				for category in posts.categories: .block
					a(href=category.url)= category.title
						sup= category.posts_count

		if site.tags
			#taglist
				header: h2 按标签
				for tag_name, tag_count in site.tags: .block
					a(href='/tag/{{tag_name}}')= tag_name
						sup= tag_count				

		#archlist
			header: h2 按年份
			oldest_post = d.get_data(types='post', return_one=true, sort='asc')
			latest_post = d.get_data(types='post', return_one=true, sort='desc')
			year_oldest = oldest_post.date.year
			year_latest = latest_post.date.year
			for year in range(year_latest.int, year_oldest.int-1, -1)
				year_start_date = '%s-1-1' %year
				year_end_date = '%s-1-1' %(year.int+1)
				yearly_count = d.get_data(types='post', return_count=true, date_start=year_start_date, date_end=year_end_date)
				if yearly_count != 0
					.block
						a(href='/archive/{{year}}')= year + '年'
							sup= yearly_count