html
	head
		block title
			if request.path.startswith('/tag/') and posts.tags
				title= '标签：' + posts.tags.join('+') + ' - ' + site.title
			elif request.path.startswith('/category/') and posts.category
				title= '分类：' + posts.category.title + ' - ' + site.title
			elif request.args.s
				title= '搜索：' + request.args.s + ' - ' + site.title
			elif site.configs.sub_title
				title= site.title + ' - ' + site.configs.sub_title
			else
				title= site.title

		+h.headers
		+h.load('/template/style.scss')

	body
		header.index
			.site
				#search
					+posts.search_in_html(placeholder='搜索')
				a#logo(href='/', title=site.title)
					img(src=site.avatar)
				#menu
					input#check-toggle(type='checkbox')
					label(for='check-toggle')
						span
					+site.just_nav

		main
			block content
				#postlist
					+posts.set_min_per_page(8)
					+page(as_ul=False)
						for post in posts: .block
							a(href=post.url)= post.title
								sup= (post.visits or 0)

		footer
			#credit
				span= '© ' + site.now.year
				span= site.title
			#siteinfo
				span= '%s篇文章' %(d.get_data(types='post', return_count=true, with_page=false))
				span= '%s字' %('{0:,}'.format(site.text_words))
				span.oh -
			#poweredby
				a(href='https://blog.shuiba.co/bitcron-theme-light', target='_blank') 主题「淡泊」
				| -
				a(href='https://bitcron.com', target='_blank') 由Bitcron驱动
			+site.socials


	+h.back_to_top(label='↾')

	script
		// smooth scrolling
		$(function() {
			$('a[href*=#]:not([href=#])').click(function() {
				if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
					if (target.length) {
						$('html,body').animate({
							scrollTop: target.offset().top-71
						}, 500);
						return false;
					}
				}
			});
		});