extends index

block title
	title= post.title + ' - ' + site.title

block main
	article#post
		#info
			span= ('{0:,}'.format(post.visits or 0)) + '°'
			time(datetime= post.date.format('%Y-%m-%d'))= post.date.format('%b %d, %Y %H:%M')
			| •
			if post.category
				a(href=post.category.url)= post.category.title
				| •
			if post.tags
				for tag in post.tags
					a(href='/tag/{{tag}}')= tag
				| •
			i= ('{0:,}'.format(post.text_words)) + '字'
		h1= post.title
		post.content
		#eof
			span EOF

	if post.metadata.status not in ['page', 'Page']
		#pre-next
			if posts.previous_one
				a.pre(href=posts.previous_one.url)
					span= ('{0:,}'.format(posts.previous_one.visits or 0)) + '°'
					time(datetime= posts.previous_one.date.format('%Y-%m-%d'))= posts.previous_one.date.format('%b %d, %Y')
					div= posts.previous_one.title

			if posts.next_one
				a.next(href=posts.next_one.url)
					span= ('{0:,}'.format(posts.next_one.visits or 0)) + '°'
					time(datetime= posts.next_one.date.format('%Y-%m-%d'))= posts.next_one.date.format('%b %d, %Y')
					div= posts.next_one.title


	if post.metadata.comment not in ['no', 'No', False]
		#comment
			+post.comments_as_html()