extends base

block title
    title= '归档 - ' + site.title

block content
	+tab(['归档', '分类&标签'], active=1)
		#tab
			entries = d.get_data(types='post', limit=30, sort='desc').group('-date:year')

			.posts: for year, year_posts in entries
				section.archive
					.name
						h2= year
							year_start_date = '%s-1-1' %year
							year_end_date = '%s-1-1' %(year.int+1)
							yearly_count = d.get_data(type='post', return_count=true, date_start=year_start_date, date_end=year_end_date)
							span= '(%s)' %yearly_count

					ul.list: for post in year_posts: li
						a(href=post.url)= post.title
						time(datetime= post.date.format('%Y-%m-%d'))= post.date.format('%m.%d')

			.sitepager
				+h.paginator(style='mini', pre_label='〈', next_label='〉')

		#tab
			.posts
				if posts.categories: section.categories
					.name
						h2= '分类'
							span= '(%s)'%(d.get_data(types='folder', return_count=true, level=1, min_posts_count=1, render=true))
					ul.list: for category in posts.categories: li
						a(href=category.url)= category.title
						span= '(%s)'%category.posts_count

				if site.tags: section.tags
					.name
						h2= '标签'
							span= '(%s)'%site.tags.length
					ul.list: for tag_name, tag_count in site.tags: li
				    	a(href='/tag/{{tag_name}}')= tag_name
				    	span= '(%s)'%tag_count