html
	head
		block title
			if request.path.startswith('/tag/') and posts.tags
				title= '标签：' + posts.tags.join('+') + ' • ' + site.title
			elif request.path.startswith('/category/') and posts.category
				title= '分类：' + posts.category.title + ' • ' + site.title
			elif request.args.s
				title= '搜索：' + request.args.s + ' • ' + site.title
			elif site.configs.sub_title
				title= site.title + ' • ' + site.configs.sub_title
			else
				title= site.title

		+h.headers
		+h.load('/template/style.scss', 'font')
		link(rel='apple-touch-icon', href=site.site_avatar)

	body
		nav
			#nav
				+site.just_nav
				+site.socials
				+posts.search_in_html(placeholder='输入关键字后回车搜索')
				a#logo(href='/', title=site.title)
					img(src=site.avatar)
			#credit
				span &copy; {{site.now.year}} {{site.title}}
				span= '%s篇文章' %(d.get_data(types='post', return_count=true, with_page=false)) + ' %s字' %('{0:,}'.format(site.text_words))
				span
					a(href='https://blog.shuiba.co/bitcron-theme-ingrey', target='_blank') 「入灰」
					| on
					a(href='https://bitcron.com', target='_blank') Bitcron			
		
		header
			block header
				if request.path.startswith('/tag/') and posts.tags
					h1= '标签：' + posts.tags.join('+')
				elif request.path.startswith('/category/') and posts.category
					h1= '分类：' + posts.category.title
				elif request.args.s
					h1= '搜索：' + request.args.s
				else
					h1= site.title

		main
			block content
				+posts.set_min_per_page(10)
				+page(as_ul=False)
					for post in posts
						a.block(href=post.url)
							small NEW
							time(datetime= post.date.format('%Y-%m-%d'))= post.date.format('%Y.%m.%d')
							if post.category
								span= post.category.title
							h2= post.title
							.open= post.content.limit(words=90).no_pic.plain

		footer
			block footer
				span 我是有底线的


	+h.back_to_top(label='↾')

	script
		// smooth scrolling
		$(function() {
			$('a[href*=#]:not([href=#])').click(function() {
				if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
					if (target.length) {
						$('html,body').animate({
							scrollTop: target.offset().top-20
						}, 500);
						return false;
					}
				}
			});
		});
		// hover blur
		$('nav').hover(
			function(){ $('header,main,footer').addClass('blur') },
			function(){ $('header,main,footer').removeClass('blur') }
		)