html
	head
		block title
			if request.path.startswith('/category/') and posts.category
				title= '分类：' + posts.category.title + ' • ' + site.title
			elif request.path.startswith('/tag/') and posts.tags
				title= '标签：' + tag + ' • ' + site.title
			elif request.args.s
				title= '搜索：' + request.args.s + ' • ' + site.title
			elif site.configs.sub_title
				title= site.title + ' • ' + site.configs.sub_title
			else
				title= site.title

		+h.headers
		+h.load('/template/style.scss', 'font')
		link(rel='apple-touch-icon', href=site.site_avatar)
		link(href='https://fonts.font.im/css?family=Noto+Serif:700', rel='stylesheet', type='text/css')
		script(src='https://use.typekit.net/hjm5wlx.js')
		script.
		  try{Typekit.load({ async: true });}catch(e){}

	body
		header
			a#logo(href='/')
				img(src=site.site_avatar, alt=site.title)
				#name= site.title

		main
			block main
				#search
					+posts.search_in_html(placeholder='...search...', base_url='/posts')
				nav
					+site.just_nav

		footer
			div
				| Theme
				a(href='https://blog.shuiba.co/bitcron-theme-square', target='_blank') Square
				| Designed by
				a(href='https://blog.shuiba.co', target='_blank') Shuibaco
				| Powered by
				a(href='https://bitcron.com', target='_blank') Bitcron
			div
				if site.configs.admin_name
					| &copy; {{site.now.year}} {{site.configs.admin_name}}. All rights reserved.
				else
					| &copy; {{site.now.year}} {{site.title}}. All rights reserved.


	+h.back_to_top(label='↾')

	script
		// smooth scrolling
		$(function() {
			$('a[href*=#]:not([href=#])').click(function() {
				if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
					if (target.length) {
						$('html,body').animate({
							scrollTop: target.offset().top-20
						}, 500);
						return false;
					}
				}
			});
		});