html
	head
		block title
			title= site.title

		+h.headers
		+h.load('animation', '/template/style.scss')

	body
		nav.animated.fadeInDown
			+site.just_nav

		main.animated.fadeInDown
			block content
				for post in posts
					header
						h1: a(href=post.url)= post.title
						.info
							time(datetime= post.date.format('%Y-%m-%d'))= post.date.format('%Y.%m.%d')
							if post.category
								| @
								post.category.title
					.content= post.content
					hr
					.posme
						span: a(href='{{post.url}}#comments') 评论
						+h.paginator(pre_label='更新', next_label='更早')
					hr

		footer.animated.fadeInDown
			span= '© ' + site.now.year
			a(href='/')= site.title
			span by
			a(href='https://blog.shuiba.co/bitcron-theme-monochrome', target='_blank') 水八口
			span on
			a(href='https://bitcron.com', target='_blank') Bitcron


	+h.back_to_top(label='▲')

	script
		// smooth scrolling
		$(function() {
			$('a[href*=#]:not([href=#])').click(function() {
				if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
					var target = $(this.hash);
					target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
					if (target.length) {
						$('html,body').animate({
							scrollTop: target.offset().top-44
						}, 500);
						return false;
					}
				}
			});
		});