extends index

block title
	if request.path.startswith('/category/') and posts.category
		title= '分类：' + posts.category.title + ' - ' + site.title
	elif request.path.startswith('/tag/') and posts.tags
		title= '标签：' + posts.tags.join('+') + ' - ' + site.title
	elif request.args.s
		title= '搜索关键字：' + request.args.s + ' - ' + site.title
	else
		title= site.title

block main
	#cat-tag-search
		#label-title
			if request.path.startswith('/category/') and posts.category
				h2= '分类：' + posts.category.title
				span= posts.category.posts_count
			
			elif request.path.startswith('/tag/') and posts.tags
				h2= '标签：' + posts.tags.join('+')
				tag = request.url | replace('https://'+site.domain+'/tag/','')
				span= d.get_data(types='post', tags=tag, return_count=true, with_page=false)
			
			elif request.args.s
				h2= '搜索关键字：' + request.args.s
				span= d.get_data(types='post', keywords=request.args.s, return_count=true, with_page=false)

		#post-list
			ul: for post in posts
				li: a(href=post.url)
					span= ('{0:,}'.format(post.visits or 0)) + '°'
					time(datetime= post.date.format('%Y-%m-%d'))= post.date.format('%b %d, %Y')
					h3= post.title

		#pager
			+h.paginator(style='auto', max_count='8')